ul {
  background-color: #183A37;
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 7.5px;
  overflow: hidden;
}

li {
  float: right;
  margin: 10px;

}

li a {
  font-size: larger;
  display: block;
  color: white;
  text-align: center;

  padding: 10px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #0f2321;

}



#home-active {
  background-color: #0f2321;
}

#Logo {

  margin: 0px;
}

/* Slideshow  */
.slideshow-container {
  max-width: 1500px;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#background {
  background-color: black;
  width: 1500px;
  height: 500px;
  position: absolute;
  opacity: 0.5;

}

.text {
  position: absolute;
  color: white;
  font-size: 30px;
}




@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* Animated text */
.typewriter h1 {
  position: absolute;
  color: #fffafa;
  font-size: 48PX;
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .10s step-end infinite;
}

#img1 {
  margin-top: 200px;
  margin-right: 320px;

}

#img2 {
  margin-top: 200px;
  margin-right: 300px;

}

#img3 {
  margin-top: 200px;
  margin-right: 230px;

}

.container img {
  float: left;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  align-items: left;
  justify-content: space-around;
  clear: left;
}

#Riyadh {
  margin-right: 60px;
}

#Jeddah {
  margin-right: 25px;
}




.column {
  float: left;
  width: 33.33%;
  margin-bottom: 200px;
  background-color: #FFF6EB;


}


.row::after {
  content: "";
  display: inline;
}



* {
  font-family: 'Tajawal';
}



#textimg {

  font-size: 20px;
  text-align: center;
  color: #432534;
}

.sec {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 8px 8px 10px black;
}

.footer {
  background-color: #183A37;
  padding: 0.2px;
  color: white;

}

.footer * {
  display: inline-block;
  margin: 5px 20px;

}

.fieldset {
  border-width: 5px;

  border-style: solid;
  color: #183A37;
}

legend {
  text-shadow: 4px 4px #EFD6AC;

}




#sumbitButton:hover {
  background-color: #183A37;
  color: white;
  

}



